.application-card {
  max-width: 400px; // Example width for the card
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &__content {
    display: flex;
    padding: 16px;
    border: 1px solid #dfdfdf;
    border-radius: 16px;
  }

  &__logo-container {
    min-width: 80px;
    height: 80px;
    background-color: #f0f0f0;
    border-radius: 8px;
    margin-right: 16px;
    overflow: hidden;
    position: relative;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    flex-grow: 1;
    min-width: 0;
  }

  &__company-name {
    font-family: Karbon, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;
    color: #808080;
    margin-bottom: 5px !important;
  }

  &__application-name {
    font-family: Karbon, sans-serif;
    line-height: 110% !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    margin-bottom: 5px !important;
    width: 200px;
    height: 35px;
    font-size: 16px !important;
  }

  &__use-case {
    color: #333;
    font-family: Karbon, sans-serif;
    font-size: 12px !important;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: 13px;
  }
}
